@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();

:host {
  display: flex;
  flex-grow: 1;
}

@mixin color($theme) {
  .box {
    background-color: mat.get-theme-color($theme, surface-container);
    background: linear-gradient(
      45deg,
      mat.get-theme-color($theme, surface-container) 0%,
      mat.get-theme-color($theme, surface) 100%
    );
  }
}

.box {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
  padding: 2rem;
}

.box p {
  margin: 0;
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
