@use "sass:map";
@use "@angular/material" as mat;
@include mat.elevation-classes();
@include mat.app-background();

@mixin color($theme) {
  $text: mat.get-theme-color($theme, on-surface);
  $main: mat.get-theme-color($theme, surface);
  $placeholder: mat.get-theme-color($theme, on-surface-variant);

  .milkdown {
    .editor {
      color: #{$text};
      background-color: #{$main};
      outline: none;
      min-height: 50vh;
      padding-inline: 2rem;
      padding-top: 2rem;
      padding-bottom: 6rem;
    }

    .editor::selection {
      background-color: color-mix(
        in srgb,
        #{mat.get-theme-color($theme, primary-container)},
        transparent 60%
      );
    }

    .editor-placeholder::before {
      position: absolute;
      color: color-mix(in srgb, #{$placeholder}, transparent 60%);
      pointer-events: none;
      height: 0;
      content: attr(data-placeholder);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
