.task-status-select {
  padding: 0.5rem;
  border-radius: 0.5rem;

  &.no-started {
    background-color: var(--mat-sys-color-surface);
    color: var(--mat-sys-color-on-surface);
  }

  &.in-progress {
    background-color: var(--mat-sys-color-secondary-container);
    color: var(--mat-sys-color-on-secondary-container);
  }

  &.completed {
    background-color: var(--mat-sys-color-primary-container);
    color: var(--mat-sys-color-on-primary-container);
  }
}
