@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();

@mixin color($theme) {
  .task-status-select {
    padding: 0.5rem;
    border-radius: 0.5rem;

    &.no-started {
      background-color: mat.get-theme-color($theme, surface);
      color: mat.get-theme-color($theme, on-surface);
    }

    &.in-progress {
      background-color: mat.get-theme-color($theme, secondary-container);
      color: mat.get-theme-color($theme, on-secondary-container);
    }

    &.completed {
      background-color: mat.get-theme-color($theme, primary-container);
      color: mat.get-theme-color($theme, on-primary-container);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
