<section>
  <button mat-fab class="fab-button" (click)="openDialogCreateNote()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-divider></mat-divider>

  @if (notes().length === 0) {
  <p class="mat-body-1">Aún no tienes notas. Crea una nueva para empezar.</p>
  }

  <article class="list-notes">
    @for (note of notes(); track note.id) {
    <div>
      <mat-card
        appearance="outlined"
        class="card-note"
        routerLink="{{ note.id }}"
        matRipple
      >
        <mat-card-content>{{ note.title }}</mat-card-content>
      </mat-card>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="openDialogEditTitleNote(note)">
        Editar título
      </button>
      <button mat-menu-item (click)="openDialogDeleteNote(note)">
        Eliminar nota
      </button>
    </mat-menu>
    }
  </article>
</section>
