:host {
  display: flex;
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main section {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 900px;
  flex-grow: 1;
  padding: 0;
}

mat-toolbar {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  user-select: none;
}

.spacer {
  flex: 1 1 auto;
}

.note-title {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.note-title p {
  margin: 0;
}

.note-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
