<main>
  <mat-nav-list>
    @if (isPageEditingNote()) {
    <div style="margin-bottom: 10px">
      <button mat-icon-button routerLink="/notes">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    }
    <button mat-flat-button (click)="openDialogCreateNote()">Nueva nota</button>
    <mat-divider></mat-divider>
    @for (note of notes(); track note.id) {
    <a mat-list-item routerLink="{{ note.id }}">
      {{ note.title }}
    </a>
    }
  </mat-nav-list>
  <mat-divider [vertical]="true"></mat-divider>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
