section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.fab-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

article.list-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

@media (max-width: 1024px) {
  article.list-notes {
    width: 90%;
  }
}

@media (max-width: 768px) {
  article.list-notes {
    width: 100%;
  }
}

article.list-notes .note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

article.list-notes .note .card-note {
  cursor: pointer;
  user-select: none;
  min-width: 300px;
  max-width: 300px;
  min-height: 60px;
  height: 60px;
}
