<main>
  <button mat-fab class="fab-button" (click)="openDialogCreateNote()">
    <mat-icon>add</mat-icon>
  </button>

  @if (notes().length === 0) {
  <article>
    <p class="mat-body-medium">
      No tienes notas creadas, crea una nueva nota para empezar.
    </p>
  </article>
  } @else {
  <article class="list-notes">
    @for (note of notes(); track note.id) {
    <mat-card
      appearance="outlined"
      class="note"
      cdkDrag
      cdkDragBoundary=".list-notes"
    >
      <mat-card
        appearance="raised"
        class="card-note"
        (mousedown)="onMouseDown($event, note.id)"
        (mouseup)="onMouseUp($event, note.id)"
        matRipple
      >
        <mat-card-content>{{ note.title }}</mat-card-content>
      </mat-card>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="openDialogEditTitleNote(note)">
        Editar título
      </button>
      <button mat-menu-item (click)="openDialogDeleteNote(note)">
        Eliminar nota
      </button>
    </mat-menu>
    }
  </article>
  }
</main>
