@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();

@mixin color($theme) {
  $main: mat.get-theme-color($theme, surface);
  $primary: mat.get-theme-color($theme, surface-container);
  $selected: mat.get-theme-color($theme, surface-bright);
  $border: mat.get-theme-color($theme, surface);
  $text: mat.get-theme-color($theme, on-surface);

  .milkdown-editor {
    color: #{$text};
    background-color: #{$main};
    outline: none;
    min-height: 75vh;
    padding-bottom: 2rem;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
