<mat-dialog-content>
  <p>Editar título</p>
  <form [formGroup]="titleForm" (ngSubmit)="titleForm.valid && onSaveClick()">
    <mat-form-field>
      <mat-label>Título de la nota</mat-label>
      <input matInput formControlName="title" />
      @if (titleForm.get('title')!.hasError('required')) {
      <mat-error>El título es obligatorio.</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSaveClick()" [disabled]="titleForm.invalid">
    Cambiar título
  </button>
</mat-dialog-actions>
