<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="top">
      <a routerLink="/" (click)="drawer.toggle()">
        <img src="/logo.png" alt="Logo" class="logo" />
      </a>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list role="list">
      <a
        mat-list-item
        routerLink="/"
        (click)="drawer.toggle()"
        [activated]="router.url === '/'"
      >
        <mat-icon matListItemIcon fontSet="material-icons-outlined">
          home
        </mat-icon>
        <div matListItemTitle>Inicio</div>
      </a>
      <a
        mat-list-item
        routerLink="/notes"
        (click)="drawer.toggle()"
        [activated]="router.url === '/notes'"
      >
        <mat-icon matListItemIcon>notes</mat-icon>
        <div matListItemTitle>Notas</div>
      </a>
      <a
        mat-list-item
        routerLink="/tasks"
        (click)="drawer.toggle()"
        [activated]="router.url === '/tasks'"
      >
        <mat-icon matListItemIcon>task_alt</mat-icon>
        <div matListItemTitle>Tareas</div>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list role="list">
      <a
        mat-list-item
        routerLink="/settings"
        (click)="drawer.toggle()"
        [activated]="router.url === '/settings'"
      >
        <mat-icon matListItemIcon fontSet="material-icons-outlined">
          settings
        </mat-icon>
        <div matListItemTitle>Configuración</div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-drawer-container>
