<main class="custom-container">
  <h2 class="mat-headline-medium" i18n="@@settings.appearance">Apariencia</h2>
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="settings-item">
        <span i18n="@@settings.appearance.followSystem">Seguir sistema</span>
        <mat-slide-toggle
          [hideIcon]="true"
          [checked]="isAutoMode()"
          (change)="toggleAutoMode($event)"
        >
        </mat-slide-toggle>
      </div>

      @if (!isAutoMode()) {
      <mat-divider class="settings-divider"></mat-divider>
      <div class="settings-item">
        <span i18n="@@settings.appearance.darkTheme">Tema oscuro</span>
        <mat-slide-toggle
          [hideIcon]="true"
          [checked]="isDarkMode()"
          (change)="toggleDarkMode($event)"
        >
        </mat-slide-toggle>
      </div>
      }
    </mat-card-content>
  </mat-card>

  <mat-divider class="no-visible"></mat-divider>
</main>
