:host {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.no-visible {
  opacity: 0;
}

mat-divider {
  margin: 1rem 0;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-divider {
  margin: 1rem 0;
}
