:host {
  display: flex;
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 1rem;
  gap: 1rem;
  user-select: none;
}

.box {
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
  padding: 2rem;
}

.box p {
  margin: 0;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
