<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="top">
      <a routerLink="/" (click)="drawer.toggle()">
        <app-logo width="100%" height="20px"></app-logo>
      </a>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list role="list">
      <a
        mat-list-item
        routerLink="/"
        (click)="drawer.toggle()"
        [activated]="router.url === '/'"
      >
        <mat-icon matListItemIcon> home </mat-icon>
        <div matListItemTitle i18n="@@home">Inicio</div>
      </a>
      <a
        mat-list-item
        routerLink="/notes"
        (click)="drawer.toggle()"
        [activated]="router.url === '/notes'"
      >
        <mat-icon matListItemIcon>notes</mat-icon>
        <div matListItemTitle i18n="@@notes">Notas</div>
      </a>
      <a
        mat-list-item
        routerLink="/tasks"
        (click)="drawer.toggle()"
        [activated]="router.url === '/tasks'"
      >
        <mat-icon matListItemIcon>task_alt</mat-icon>
        <div matListItemTitle i18n="@@tasks">Tareas</div>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list role="list">
      <a
        mat-list-item
        routerLink="/settings"
        (click)="drawer.toggle()"
        [activated]="router.url === '/settings'"
      >
        <mat-icon matListItemIcon> settings </mat-icon>
        <div matListItemTitle i18n="@@settings">Configuración</div>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list role="list">
      <a
        mat-list-item
        routerLink="/about"
        (click)="drawer.toggle()"
        [activated]="router.url === '/about'"
      >
        <mat-icon matListItemIcon> info </mat-icon>
        <div matListItemTitle i18n="@@about">Acerca de</div>
      </a>
      <a
        mat-list-item
        href="https://github.com/francids/productiva-mente"
        target="_blank"
        (click)="drawer.toggle()"
      >
        <mat-icon matListItemIcon> code </mat-icon>
        <div matListItemTitle i18n="@@sourceCode">Código fuente</div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    @if (!isEditPage()) {
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      @if (title == "Productiva Mente") {
      <app-logo width="100%" height="18px"></app-logo>
      } @else {
      <span>{{ title }}</span>
      }
    </mat-toolbar>
    }
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
