:host {
  display: flex;
  flex-grow: 1;
}

.box {
  background-color: var(--mat-sys-color-surface-container);
  background: linear-gradient(
    45deg,
    var(--mat-sys-color-surface-container) 0%,
    var(--mat-sys-color-surface) 100%
  );
  display: flex;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
  padding: 2rem;
}

.box p {
  margin: 0;
}
