@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: "#000000",
    10: "#3B0900",
    20: "#5F1500",
    25: "#731B00",
    30: "#862200",
    35: "#9A2902",
    40: "#AB350F",
    50: "#CD4D26",
    60: "#EF663D",
    70: "#FF8B69",
    80: "#FFB5A0",
    90: "#FFDBD1",
    95: "#FFEDE8",
    98: "#FFF8F6",
    99: "#FFFBFF",
    100: "#FFFFFF",
  ),
  secondary: (
    0: "#000000",
    10: "#311309",
    20: "#4A271C",
    25: "#573126",
    30: "#643C31",
    35: "#72483C",
    40: "#7F5347",
    50: "#9B6C5E",
    60: "#B88576",
    70: "#D59F8F",
    80: "#F2B9A9",
    90: "#FFDBD1",
    95: "#FFEDE8",
    98: "#FFF8F6",
    99: "#FFFBFF",
    100: "#FFFFFF",
  ),
  tertiary: (
    0: "#000000",
    10: "#390B06",
    20: "#542018",
    25: "#622B21",
    30: "#70362C",
    35: "#7E4136",
    40: "#8D4C41",
    50: "#AA6458",
    60: "#C87D70",
    70: "#E69789",
    80: "#FFB4A7",
    90: "#FFDAD4",
    95: "#FFEDEA",
    98: "#FFF8F6",
    99: "#FFFBFF",
    100: "#FFFFFF",
  ),
  neutral: (
    0: #000000,
    10: #201a18,
    20: #362f2d,
    25: #413a38,
    30: #4d4543,
    35: #59514e,
    40: #655c5a,
    50: #7f7572,
    60: #998e8c,
    70: #b4a9a6,
    80: #d0c4c1,
    90: #ede0dc,
    95: #fbeeeb,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
    4: #0f0e0e,
    6: #141313,
    12: #201f1f,
    17: #2b2a2a,
    22: #363434,
    24: #3a3939,
    87: #ddd9d8,
    92: #ebe7e6,
    94: #f1edec,
    96: #f7f3f2,
  ),
  neutral-variant: (
    0: "#000000",
    10: "#251915",
    20: "#3B2D29",
    25: "#473834",
    30: "#53433F",
    35: "#5F4F4A",
    40: "#6C5B56",
    50: "#85736E",
    60: "#A08C87",
    70: "#BCA7A1",
    80: "#D8C2BC",
    90: "#F5DED8",
    95: "#FFEDE8",
    98: "#FFF8F6",
    99: "#FFFBFF",
    100: "#FFFFFF",
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
  )
);
